* {
    box-sizing: border-box;
    font-family: rajdhani;
    margin: 0;
    padding: 0;
}

body {
    background-image: radial-gradient(circle,
            #7a73d1,
            #736dd0,
            #6b67cf,
            #6362ce,
            #5a5ccd,
            #5355c7,
            #4b4dc0,
            #4346ba,
            #3b3bac,
            #33319f,
            #2a2691,
            #211c84);
    font-family: rajdhani;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    color: #36454f;
}

body.about {
    background-image: linear-gradient(90deg, #ffb6ff, #8e7dff, #5e60ce);
    /* background-color: #211c84; */
}

body.contact {
    background-image: linear-gradient(to left, #536dfe, #304ffe, #1a237e);
}

body::-webkit-scrollbar {
    width: 0;
    background: transparent;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: rajdhani;
    color: #ffffff;
    letter-spacing: normal;
}

section {
    padding: 100px 0;
}