* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

html,
body {
    overflow-x: hidden;
}

body {
    /* background-image: url(/assets/images/bg.jpeg); */
    background-size: cover;
    background-blend-mode: soft-light;
    background-color: #F3E9DC;
    font-family: "Space Mono", monospace;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}


body::-webkit-scrollbar {
    width: 0;
    background: transparent;
}


h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "DM Sans", sans-serif;
    letter-spacing: normal;
}


#slideNavigation {
    position: fixed;
    top: 0px;
    right: 0px;
    width: 100%;
    height: 0;
    overflow: hidden;
    background-color: rgba(255, 255, 255, 0.8);
    flex-direction: column;
    justify-content: center;
    /* box-shadow: 0 0 10px rgba(255, 255, 255, 0.1); */
    transition: height 0.5s ease-in-out;
    z-index: 1;
    padding: 0;
    backdrop-filter: blur(1px);

    @media screen and (max-width: 575px) {
        width: 100%;
        background-color: rgba(255, 255, 255, 0.2);
        backdrop-filter: blur(2px);
    }
}

#slideNavigation.slideMenu {
    height: 890px;
}

h3 span {
    position: relative;
    color: #ffffff;
    padding-inline: 10px;
}

h3 span::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #7a73d1;
    z-index: -1;
}

.bottle {
    will-change: transform;
    backface-visibility: hidden;
}

#bottleHero {
    transform-origin: center center;
}